@model Library.Models.BookPublisherViewModel

@{
    ViewData["Title"] = "Index";
    // var loanDates = ViewData["LoanDates"] as Dictionary<int, List<DateTime>>;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Books" asp-action="Index" method="get" class="row g-2 align-items-center">
    <div class="col-md-2">
        <label for="bookPublisher" class="form-label visually-hidden">Publisher</label>
        <select id="bookPublisher" asp-for="BookPublisher" asp-items="Model.Publishers" class="form-select">
            <option value="">All</option>
        </select>
    </div>
    <div class="col-md-8">
        <label for="searchString" class="form-label visually-hidden">Title</label>
        <input type="text" id="searchString" name="SearchString" class="form-control" placeholder="Enter book title" />
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary">Filter</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Books![0].author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books![0].title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books![0].publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books![0].date_of_publication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books![0].price)
            </th>
            @* <th> *@
            @*     Loan Dates *@
            @* </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Books!) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_of_publication)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            @* <td> *@
            @*     @if (loanDates != null && loanDates.ContainsKey(item.id)) *@
            @*     { *@
            @*         foreach (var date in loanDates[item.id]) *@
            @*         { *@
            @*             <div>@date.ToString("d")</div> *@
            @*         } *@
            @*     } *@
            @*     else *@
            @*     { *@
            @*         <div>No loans</div> *@
            @*     } *@
            @* </td> *@
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
