@model Library.Models.BookPublisherViewModel

@{
    ViewData["Title"] = "Index";
    // var loanDates = ViewData["LoanDates"] as Dictionary<int, List<DateTime>>;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Books" asp-action="Index" method="get">
    <p>
        <select asp-for="BookPublisher" asp-items="Model.Publishers">
            <option value="">All</option>
        </select>
        
        <label>Title: <input type="text" name="SearchString"/></label>
        <input type="submit" value="Filter"/>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Books![0].author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books![0].title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books![0].publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books![0].date_of_publication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books![0].price)
            </th>
            @* <th> *@
            @*     Loan Dates *@
            @* </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Books!) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_of_publication)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            @* <td> *@
            @*     @if (loanDates != null && loanDates.ContainsKey(item.id)) *@
            @*     { *@
            @*         foreach (var date in loanDates[item.id]) *@
            @*         { *@
            @*             <div>@date.ToString("d")</div> *@
            @*         } *@
            @*     } *@
            @*     else *@
            @*     { *@
            @*         <div>No loans</div> *@
            @*     } *@
            @* </td> *@
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
