@model IEnumerable<Library.Models.LoanViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>My loans</h1>

<table class="table">
    <thead>
    <tr>
        <th>Book Title</th>
        <th>User Name</th>
        <th>Loan Date</th>
        <th>Return Date</th>
        <th>Status</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        @if (item.UserName == User.Identity.Name)
        {
            <tr>
                <td>@item.BookTitle</td>
                <td>@item.UserName</td>
                <td>@item.LoanDate.ToString()</td>
                <td>@item.ReturnDate.ToString("d")</td>
                <td>@item.Status</td>
            </tr>
        }
    }
    </tbody>
</table>
